<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Preparation Tool - Technische Validierung</title>
    <link rel="stylesheet" href="static_resources/lib/bulma/bulma.min.css">
    <script defer src="static_resources/lib/fontawesome/all.js"></script>
    <script src="static_resources/lib/auxiliary.js"></script>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="static_resources/dpt_banner.png" width="247" height="28" alt="Data Preparation Tool neo">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Weitere Informationen
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item"
                       href="https://pro.deutsche-digitale-bibliothek.de/dokumente-und-links-fuer-archive">
                        Dokumentation auf DDBpro
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <h1 class="title">Technische Validierung</h1>
        <h2 class="subtitle">
            Prüfung der technischen Voraussetzungen
        </h2>
    </div>
</section>


<div class="container">
    <div class="notification">
        <p>Damit Ihre Daten korrekt in die Portale geladen werden können, muss jedem Objekt ein eindeutiger Identifier
            zugeordnet sein.</p>
        <p>Zudem sollten die Bestandsfindbücher mit der Archivtektonik verknüpft sein, damit die hierarchische Beziehung
            korrekt abgebildet werden kann.</p>
        <br/>
        <p>Die Ergebnisse der Prüfung finden Sie im Folgenden:</p>
    </div>
</div>

<br/>

<article class="message is-success container" data-insert-location="result_status_container">
    <div class="message-body" data-insert-location="result_status_text">
        Es wurden keine Probleme gefunden.
    </div>
</article>

<div class="container">
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button is-success" aria-haspopup="true" aria-controls="dropdown-menu2"
                    data-insert-location="tektonik_link_button_color">
                <!--<span class="icon has-text-success">-->
                <!--<i class="fas fa-check-square"></i>-->
                <!--</span>-->
                <span>Verknüpfung zwischen Findbuch und Tektonik</span>
                <span class="tag" style="margin-left: 1em" data-insert-location="tektonik_link_button_count">0</span>
                <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-1" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <p>Identifier der Findbuch-Dateien, welche nicht in der Tektonik verknüpft sind: </p>
                </div>
                <div class="dropdown-item">
                    <p data-insert-location="tektonik_link_dropdown_list">Keine</p>
                </div>

            </div>
        </div>
    </div>
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button is-success" aria-haspopup="true" aria-controls="dropdown-menu2"
                    data-insert-location="duplicate_identifier_button_color">
                <!--<span class="icon has-text-success">-->
                <!--<i class="fas fa-check-square"></i>-->
                <!--</span>-->
                <span>Doppelte Identifier</span>
                <span class="tag" style="margin-left: 1em"
                      data-insert-location="duplicate_identifier_button_count">0</span>
                <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-2" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <p>Im Findbuch mehrfach vergebene Identifier: </p>
                </div>
                <div class="dropdown-item">
                    <p data-insert-location="duplicate_identifier_dropdown_list_findbuch">Keine</p>
                </div>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                    <p>In der Tektonik mehrfach vergebene Identifier: </p>
                </div>
                <div class="dropdown-item">
                    <p data-insert-location="duplicate_identifier_dropdown_list_tektonik">Keine</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>